
@font-face {
font-family: rainyhearts;
src: url('fontes/rainyhearts.ttf') }

body {

margin: 0;

margin-top: 50px;

}


header {

background:#fbd583;
display: flex;

position: fixed;

top: 0;

left: 0;

right: 0;

line-height: 50px;
height: 10vh;
justify-content: center;
border: 1px solid black;
}

header * {
	
display: inline;

height: 50px;

}

nav{
	
}

header ul {

padding: 0;}

header li {
margin-left: 20px;

}

 

section {
height: 80vh;

border: 1px solid black;

display: flex;

justify-content: center;

align-items: center;

text-align: center;

}
 
*{
color: #440000;	

}

main{
	background:#ffe6b1;
}

footer {
	
background:#fbd583;
text-align: center;
height: 12vh;
}

